#HomeSection {
  #HeaderRightBox {
    overflow: hidden;
    @include alignCenter;

    .LottieBox {
      width: clamp(400px, 40vw, 550px);
      height: clamp(400px, 40vw, 550px);
      border-radius: 50%;
      @include alignCenter;
      background-color: whitesmoke;
      box-shadow: inset 5px 5px 30px 5px var(--PrimaryColor),
        inset -5px -5px 30px 10px var(--SecondaryColor),
        5px 5px 10px rgba(0, 0, 0, 0.5);

      > * {
        transform: scale(1.5);
      }
    }
  }
  #HeaderLeftBox {
    #h1Titles {
      align-items: flex-start;

      h1 {
        &:nth-child(2) {
          padding-top: 10px;
          padding-bottom: 10px;
          margin-top: 10px;
          border-top: 4px solid var(--TextColor);
          border-bottom: 4px solid var(--TextColor);
          border-radius: 5px;
          color: var(--TertiaryColor);
          font-weight: bolder;
          @include GradientColorText(
            var(--PrimaryColor),
            var(--SecondaryColor),
            right
          );
        }
      }
    }

    button:nth-child(1) {
      @include GenericButtonStyle(var(--PrimaryColor), var(--TextColor));
    }

    button:nth-child(2) {
      @include GenericButtonStyle(var(--SecondaryColor), var(--TextColor));
    }
  }
}
