#LogRegisterForm {
  position: relative;
  height: 60%;
  width: 400px;
  overflow: scroll;
  border-radius: 20px;
  box-shadow: 4px 2px 14px rgba(45, 27, 110, 0.13);

  > * {
    margin: 40px auto;
    @include alignCenter;
    width: 80%;
  }
}
