* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#AppContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  // overflow: hidden;
  // display: grid;
  // place-items: center;
}

#GlobalSection {
  position: absolute;
  top: 60px;
  width: 100vw;
  height: calc(100vh - 60px);
  max-height: 1000px;
  overflow: hidden;
  max-width: 1500px;
}

#DashboardElementSection {
  position: relative;
  height: 100%;
  overflow: hidden;

  .DashbaordSectionContainer {
    height: 100%;
  }
}

#HomeSection {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  overflow: hidden;
}

h1,
h2,
h4,
h5,
.fakeh4 {
  // font-family: "Montserrat Alternates", sans-serif;
  font-family: "Bungee", cursive;
  // font-family: "Fredoka One", cursive;
  // font-family: "Montserrat Alternates", sans-serif;
  // font-family: "Poiret One", cursive;
  // font-family: "Righteous", cursive;
}

h1 {
  font-size: clamp(1rem, 8vw, 4rem);
  line-height: clamp(1.5rem, 8vw, 3.5rem);
}
h2 {
  font-size: clamp(0.9rem, 6vw, 3rem);
}
h3 {
  font-size: clamp(0.8rem, 4vw, 2rem);
  // font-family: "Fredoka One", cursive;
  // font-family: "Indie Flower", cursive;
  // font-family: "Mali", cursive;
  // font-family: "Montserrat Alternates", sans-serif;
  // font-family: "Poiret One", cursive;
  // font-family: "Righteous", cursive;
}
h4,
.fakeh4 {
  font-size: clamp(0.6rem, 3vw, 1rem);
}
p {
  font-size: clamp(0.7rem, 2vw, 1rem);
}

h3,
p,
a,
button {
  // font-family: "Righteous", cursive;
  font-family: "Fredoka One", cursive !important;
  // font-family: 'Indie Flower', cursive;
  // font-family: 'Mali', cursive;
  // font-family: 'Montserrat Alternates', sans-serif;
  // font-family: 'Permanent Marker', cursive;
  // font-family: 'Poiret One', cursive;
  // font-family: 'Righteous', cursive;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
}

.GenericButton {
  display: grid;
  place-items: center;
  padding: clamp(0.5rem, 2vw, 1rem) clamp(0.5rem, 2vw, 2rem);
  border-radius: 10px;
  cursor: pointer;
  font-size: clamp(0.8rem, 4vw, 1.1rem);
  border: 2px solid var(--TertiaryColor);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
